.nav {
  background-color: var(--charcoal);
  padding: 20px 0px;
  position: fixed;
  bottom: -5px;
  width: 100%;
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3) inset,
    0px 0px 2px 2px rgba(0, 0, 0, 0.8) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.3),
    0px 0px 2px 2px rgba(0, 0, 0, 0.8);
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
}
.nav__link {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  position: relative;
  transition: 0.05s ease-in;
}
.nav__link:hover {
  text-shadow: 0px 0px 1px #fff;
}

@keyframes notiAnim {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(3px);
    box-shadow: 0px 2px 2px #5a1f1f, 0px 1px 0px #5a1f1f, 0px 2px 2px #000;
  }
  100% {
    transform: none;
  }
}

.nav__noti {
  position: absolute;
  left: 27px;
  top: -10px;
  animation: notiAnim 2s step-end infinite;
}

@keyframes appearBtnAnim {
  to {
    opacity: 1;
    transform: none;
  }
}
.nav,
.nav__btn {
  animation: appearBtnAnim 1s ease-in-out forwards;
  transform: translateY(80px);
}
.nav__btn:nth-child(1) {
  animation-delay: 0.1s;
}
.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.3s;
}
.nav__btn:nth-child(4) {
  animation-delay: 0.4s;
}
